@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body{
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: justify;
}
a{
    text-decoration: none;
}


.s:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(29, 29, 29, 0.7);
  }

.explore-bg{
    background-color: #F4FAFD;
}
.ready{
    background-color: #289BDE;
}

.carousel-caption {
    bottom: 14.6rem;
   
}
.razan:hover{
    background-color: #289BDE;

}
 @media screen and (max-width: 575px){
    .carousel-caption {
        bottom: 3.0rem;
       
    }
    
} 

@media screen and (min-width: 576px) and (max-width: 767px){
    .carousel-caption {
        bottom: 2.6rem;
       
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption {
        bottom: 2.6rem;
       
    }
} 

@media screen and (min-width: 992px) and (max-width: 1399px){
    .carousel-caption {
        bottom: 7.6rem;
       
    }
} 


@media screen and (max-width: 767px) {
    .s img{
        height: 400px;
    }
}