@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body{
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: justify;
}
a{
    text-decoration: none;
}

.image-item-1{
    background-image: url("../images/cover/cover-1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.image-item-2{
    background-image: url("../images/cover/cover-2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.image-item-3{
    background-image: url("../images/cover/cover-3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel-caption {
    bottom: 14.25rem;
}


.ready{
    background-color: #289BDE;
}



.razan{
    width: 70px;
}


@media screen and (max-width: 575px){
    .carousel-caption {
        bottom: -1.0rem;
       
    }
    
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption {
        bottom: 2.6rem;
       
    }
}