body{
    background-color: #F4F4F4;
}
p{
    text-align: justify;
}

.image-item-1{
    background-image: url("../images/cover/cover-1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.image-item-2{
    background-image: url("../images/cover/cover-2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.image-item-3{
    background-image: url("../images/cover/cover-3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.ready{
    background-color: #289BDE;
}

/* .fa-star{
    color: ;
} */

.razan{
    width: 70px;
}